@font-face {
  font-family: 'Public Sans', sans-serif;
  src: url("/fonts/PublicSans-Regular.ttf") format("ttf");
}

body {
  min-width: 320px;
  font-size: 14px;
  font-family: 'Muli', sans-serif;
  color: #626262;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #edeeef;
}

a:hover {
  color: #eaba58;
}

p {
  color: #fff;
  line-height: 1.5rem;
}

h2, h3 {
  font-family: 'Public Sans', sans-serif;
  color: #fff;
  margin: 0 0 1rem 0;
  font-size: 30px;
  position: relative;
}

h2.stripe-white, h2.stripe-black {
  margin-bottom: 80px;
}

.stripe-white::after, .stripe-black::after {
  display: block;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 45px;
  height: 2px;
  background-color: #eaba58;
}

.stripe-white::after {
  background-color: #fff;
}

.stripe-black::after {
  background-color: #000;
}

/* HEADER start */

header {
  background-color: #424d54;
}

.wrapper {
  background-image: url(../img/background_photo.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.wrapper-menu {
  display: flex;
  align-items: center;
  background-color: #48535a;
  opacity: 0.851;
}

header .navbar-brand {
  font-size: 30px;
  color: #000;
  text-transform: uppercase;
}

.navbar-brand span {
  color: #6fa2cc;
}

header .nav-item {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 50px;
}

.navbar-light .navbar-nav .nav-link {
  color: #f1f2f2;
}

header .nav-item a::after {
  content: '';
  display: block;
  width: 100%;
  background-color: #ccc;
  height: 1px;
  transform: scale(0);
  transition: all .3s;
}

header .nav-item a:hover::after {
  transform: scale(1);
}

.header-top-text {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.header-top-text-suptitle {
  position: relative;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 40px;
}

/* HEADER end */

/* SECTION-GRID-POSTS start */

.section-grid-posts {
  background-color: #4bcaff;
}

.section-grid-posts .card {
  background-color: #4bcaff;
  border: none;
}

.section-grid-posts .card-body {
  padding-left: 0;
}

.section-grid-posts .card-img-top {
  width: 48px;
  height: 48px;
}

.section-grid-posts .post-category {
  text-transform: uppercase;
}

.section-third {
  background-color: #515f67;
}

.btn-outline-primary {
  font-size: 20px;
  font-weight: 700px;
  color: #353f46;
  border-color: #353f46;
  border-radius: 0;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #353f46;
  border-color: #353f46;
}

/* SECTION-GRID-POSTS end */

/* PADDING for all start */

.section-grid-posts, .section-third, .section-fourth, .section-fifth, .section-six, .section-gallery, .section-seventh {
  padding: 70px 0;
}

/* PADDING for all end */

/* SECTION-GALLERY start */

.image-wrapper {
  position: relative;
}

a.text-portfolio {
  font-family: 'Public Sans', sans-serif;
  color: #fff;
  margin: 0 0 1rem 0;
  font-size: 30px;
  position: relative;
}

a.stripe-black::after {
  display: block;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 45px;
  height: 2px;
  background-color: #000;
}

.section-gallery .navbar-light .navbar-nav .nav-link {
  color: #626f76;
}

.section-gallery .navbar-light .navbar-nav .nav-link:hover {
  color: red;
}

.gallery-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.image-wrapper:hover .gallery-img {
  background: rgba(0, 0, 0, .9);
}

.image-wrapper:hover .middle {
  opacity: 1;
}

/* SECTION-GALLERY end */

/* SECTION-FOURTH start */

.section-fourth {
  background-color: #4bcaff;
}

a.cheesecake {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

/* SECTION-FOURTH end */

/* SECTION-FIFTH start */

.section-fifth {
  background-image: url(../img/section-5.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* SECTION-FIFTH end */

/* SECTION-six start */

.section-six {
  background-color: #fff;
}

.p-2 {
  padding: 0!important;
}

.section-fourth-text, .section-six-text {
  font-size: 20px;
}

.icon-box {
  position: relative;
  width: 64px;
  height: 64px;
  border: 2px solid #fff;
}

.icon-box img {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon-box .fab {
  position: absolute;
  z-index: 10;
  color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon-box:not(:first-child) {
  margin-left: 20px;
}

.section-six-text {
  color: #000;
}

p.section-six-text {
  color: #000;
}

h2.testimonials, p.mb-0, .text-portfolio {
  color: #7d878d;
}

blockquote p.mb-0 {
  padding: 40px 0;
}

footer.blockquote-footer {
  color: #4bcaff;
  font-weight: 700;
}

/* SECTION-SIX end */

/* FOOTER start */

.section-seventh {
  background-image: url(../img/footer-forms.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

address {
  color: #fff;
}

input.empty-area, textarea.empty-area {
  background-color: transparent;
  border-radius: 0;
  border: 2px solid #fff;
}

textarea.empty-area {
  resize: none;
  overflow: auto;
}

label {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

button.button-message {
  color: #fff;
  background-color: #4bcaff;
  border-color: #4bcaff;
  border-radius: 0;
}

.footer-wrapper {
  background-color: #353f47;
}

li .nav link {
  position: relative;
}

.link-foot+.link-foot:not(:first-child):after {
  position: absolute;
  content: ' |';
  line-height: 50px;
  top: 0;
}

/* FOOTER end */